$body: #e8e8e8;
$white: #ffffff;
$orange: #f47b25;
$text: #706f70;
$text-dark: #595959;
$dark: #20201f;
$blue: #1b77bd;
$purple: #91278f;  

$font: 'Open Sans','Helvetica Neue', Arial, Helvetica, sans-serif;
$font-fallback: Arial, Helvetica, sans-serif;