.section_11 {
    .inner {
        padding: 0 10px 20px 30px;
        .main_title_wrap {
            color: $text;
            font-weight: 800;
            font-size: 24px;
            line-height: 1.2;
            padding: 0 0 10px;
            span {
                color: $text;
                font-weight: 800;
                font-size: 24px;
                line-height: 1.2;
                &.light {
                    color: #c2c2c2;
                }
            }
        }
        .separator {
            padding-bottom: 25px;
            .inner {
                background: $text;
                padding-bottom: 2px;
            }
        }
        .title_wrap {
            color: $text;
            font-weight: 800;
            font-size: 22px;
            line-height: 1.2;
            padding: 25px 0 15px;
            span {
                color: $text;
                font-weight: 800;
                font-size: 22px;
                line-height: 1.2;
                &.light {
                    color: #c2c2c2;
                }
            }
        }
        .text_2_wrap,
        .text_1_wrap {
            color: $text;
            font-size: 18px;
            font-weight: 400;
            padding: 0 0 20px;
            span {
                color: $text;
                font-size: 18px;
                font-weight: 400;
                a {
                    font-size: 18px;
                    color: $orange;
                    text-decoration: underline;
                    font-weight: 800;
                }
            }
        }
        .link_wrap {
            color: $orange;
            font-size: 13px;
            font-weight: 400;
            padding: 10px 0;
            a {
                font-size: 13px;
                color: $orange;
                text-decoration: underline;
                font-weight: 600;
            }
        }
    }
}