.section_5 {
    .inner {
        padding: 30px 10px 20px 30px;
        .main_title_wrap {
            color: $text;
            font-weight: 800;
            font-size: 24px;
            line-height: 1.2;
            padding: 0 0 10px;
            span {
                color: $text;
                font-weight: 800;
                font-size: 24px;
                line-height: 1.2;
                &.light {
                    color: #c2c2c2;
                }
            }
        }
        .separator {
            .inner {
                background: $text;
                padding-bottom: 2px;
            }
        }
        
        .title_wrap {
            color: $text;
            font-weight: 800;
            font-size: 24px;
            line-height: 1.2;
            padding: 20px 0;
            span {
                color: $text;
                font-weight: 800;
                font-size: 24px;
                line-height: 1.2;
                &.light {
                    color: #c2c2c2;
                }
            }
        }
        .text_2_wrap,
        .text_1_wrap, {
            color: $text;
            font-size: 13px;
            font-weight: 400;
            padding: 0 0 20px;
            span {
                color: $text;
                font-size: 13px;
                font-weight: 400;
            }
        }
        .list_wrap {
            color: $text;
            font-size: 13px;
            font-weight: 400;
            padding: 0 30px 20px;
            span {
                color: $text;
                font-size: 13px;
                font-weight: 400;
                
                a {
                    color: $orange;
                    text-decoration: underline;
                    font-style: italic;
                }
            }
        }
    }
}